/*
//////////////////////////////////////////////////////////
///// Figures
//////////////////////////////////////////////////////////
*/

@mixin figure($width, $max, $placement) {
	position: relative;
  width: $width;
  max-width: $max;
  clear: both;
  padding: 0;
  @if $placement == right {
		margin-top: 0;
		margin-right: 0;
		margin-bottom: 0.5em;
    margin-left: 1em;
    float: right;
  } @else if $placement == left {
		margin-top: 0;
  	margin-right: 1em;
		margin-bottom: 0.5em;
    margin-left: 0;

    float: left;
  } @else if $placement == center {
		margin-top: 2em;
  	margin-right: auto;
		margin-bottom: 2em;
    margin-left: auto;
		float: none;

	}
}

/* Figure Box Styles */

div.figure-box {
	@include figure(75%, 600px, center);
}

div.figure-box-left {
	@include figure(40%, 500px, left);
}

div.figure-box-left-thin {
	@include figure(30%, 400px, left);
}

div.figure-box-right {
	@include figure(40%, 500px, right);
}

div.figure-box-left-thin {
	@include figure(30%, 400px, right);
}

div.figure {
  margin: 1em auto;
}

div.figure-thin {
  margin: 1em auto;
  width: 50%;
}

div.figure img, div.figure-thin img {
  display: block;
  width: 100%;
}


/* Figure Box Text Styles */
h4.figure-name {
  @include color-3(color);
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding-bottom: 0.125em;
  @include color-3(border);
}

h5.figure-title {
  @include black(color);
  font-weight: bold;
  margin-bottom: 0.5em;
}

div.figure-box p.caption,
div.figure-box-left p.caption,
div.figure-box-left-thin p.caption,
div.figure-box-right p.caption,
div.figure-box-right-thin p.caption {
  @include black(color);
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
}

