/*
//////////////////////////////////////////////////////////
///// Media
//////////////////////////////////////////////////////////
*/

[data-output="pdf"] {
	display: none;
}

div.fig-centerSL {
	width: 100%;
	clear: both;
	margin: auto;
	max-width: 760px;
	float: none;
	padding: 0em;
	min-width: 250px;
	@include darkGray(color);
  p.tx {
    margin-top: 1em;
  	font-size: 14px;
  	font-weight: bold;
    line-height: 1.2em;
  }
}

.video-head {
  @include color-1(color);
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin: 0.25em 0 0.5em 0;
  padding: 5px;
  clear: none;
}

.video-caption {
	@include black(color);
	font-size: 16px;
	font-weight: bold;
	margin: 0.5em 0em;
	padding: 5px;
}

@mixin video($width, $placement, $color) {
  font-size: 12px;
  width: $width;
  border: thin solid;
  border-color: '#{$color}-rgb';
  border-color: '#{$color}-cmyk';
  border-radius: 10px;
  margin-top: 0.875em;
  margin-bottom: 08.75em;
  padding: 0.5em;
  @if $placement == right {
    float: right;
    clear: left;
    margin-right: 1em;
    margin-left: 1em;
  } @else if $placement == left {
    float: left;
    clear: right;
    margin-right: 1em;
    margin-left: 1em;
  } @else if $placement == center {
    float: none;
    clear: both;
    margin-right: auto;
    margin-left: auto;
  }
}

div.video-right-FOD {
  @include video(440px, right, color-1);
}

div.video-right-FOD-sm {
  @include video(390px, right, color-1)
}

div.video-left {
  @include video(575px, left, color-1);
}

div.video-center {
  @include video(440px, center, color-1);
}

div.video-center-large {
  @include video(1000px, center, color-1);
}

p.media{

	line-height: 1.2em;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.6em;
	text-align: left;
	color: #000;
	display: none;
}

