// variables, mixins, and functions

// colors

$color-1: map-get($map: $color, $key: a);
$color-2: map-get($map: $color, $key: b);
$color-2a: map-get($map: $color, $key: c);
$color-3: map-get($map: $color, $key: d);
$color-4: map-get($map: $color, $key: e);
$color-5: map-get($map: $color, $key: f);

// grayscale

$color-white: #ffffff;
$color-black: map-get($map: $gs, $key: a);
$gray-1: map-get($map: $gs, $key: b);
$gray-2: map-get($map: $gs, $key: c);
$gray-3: map-get($map: $gs, $key: d);
$gray-4: map-get($map: $gs, $key: e);
$gray-5: map-get($map: $gs, $key: f);

// rgba convert
@mixin bg-opacity($color, $opacity: 0.3) {
    background-color: $color; 
    background-color: rgba($color, $opacity);
}

// fonts

$fontHeading: $lato;
$fontBody: $calibri;
$fontAccent: $timesnr;

// style 

