// page

/* ---------------------------------------

EPUB CSS

-----------------------------------------*/

body {
    max-width: 964px;
    margin-right: auto;
    margin-left: auto;
}

[data-output="pdf"] {
    display: none;
}