// base

/* ----- base ----- */

* {
	box-sizing: border-box;
}

[data-output='pdf'] {
	display: none;
}



body {
	max-width: 964px;
	margin-left: auto;
	margin-right: auto;
}

section, figure, figcaption {
	display: block;
}

div, p, ol, ul, li, table, tr, th, td, blockquote, dl, dt, dd {
	@include baseScale($fontBody, $color-black);
	font-style: normal;
	margin: 0;
	padding: 0;
}

small, .text_small {
	font-size: 0.889em;
}	

img {
	display: block;
}

