// paragraphs

/* --- paragraph --- */

p.tx {
  text-align: justify;
}
/*new class for toc*/
p.tablecontent {
  text-align: justify;
  font-size: 30pt;
  margin-bottom: 0.5em;
}

h1.tablecontent {
  text-align: justify;
  font-size: 30pt;
  margin-bottom: 0.5em;
}

/*new class for toc*/
p.large {
  text-align: justify;
  font-size: 14pt;
  margin-bottom: 0.4em;
}

/*new class for toc*/
p.ext_toc {
  text-align: justify;
  padding: 0 3em;
  margin-top: -0.5em;
}

/*new class for toc*/
p.ext1_toc {
  text-align: justify;
  padding: 0 3.5em;
  margin-top: -0.5em;
}

p.tx-center {
  text-align: center;
}

p.tx-right {
  text-align: right;
}

p.tx-left {
  text-align: left;
}

p.tx-i {
  font-style: italic;
  text-align: justify;
}
p.tx-i i, p.tx-i .bi, p.tx-i .ui, p.tx-i a {
  /* Reverse italics */
  font-style: normal;
}

p.tx-b {
  font-weight: bold;
  text-align: justify;
}

p.tx-ref {
  text-indent: -2em;
  margin-left: 2em;
  word-break: break-word;
}

p.ext {
  text-align: justify;
  padding: 0 2em;
}

p.ul {
  /* See list styles */
}

p.src {
  color: $color-10;
  font-size: 12px;
  font-style: italic;
}
p.src i, p.src .bi, p.src .ui, p.src a {
  /* Reverse italics */
  font-style: normal;
}

p.credit {
  color: $color-10;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin: 0.5em 0em;
 
}
p.credit i, p.credit .bi, p.credit .ui, p.credit a {
  /* Reverse italics */
  font-style: normal;
}

p.intro {
  font-style: italic;
}
p.intro i, p.intro .bi, p.intro .ui, p.intro a {
  /* Reverse italics */
  font-style: normal;
}

p.outline1 {
  font-weight: bold;
  margin: 1em 0 0.5em 2em;
}

p.outline2 {
  margin: 0.5em 0 0.5em 2em;
}

p.outline3 {
  font-style: italic;
  margin: 0.5em 0 0.5em 2em;
}

p.answer {
  margin: 1.5em 0 1em 0;
  clear: both;
}

p.tx > img, p.tx-center > img, p.tx-right > img, p.tx-left > img, p.tx-i > img, p.tx-b > img, p.tx-glo > img, p.tx-ref > img, p.ext > img, p.intro > img {
  /* Images placed inside paragraphs */
  display: block;
  width: auto;
  margin: 1em auto;
}

