// buttons

/* ----- buttons ----- */

.trigger-readmore {
    display: inline-block;
    font-family: $fontBody;
    border: 1px solid $color-white;
    text-decoration: none;
    background-color: $color-5;
    color: $color-white;
    padding: 5px 12px;
    border-radius: $radius;
    transition: .2s;
    &:hover {
        background-color: $color-white;
        color: $color-5;
        border-color: $color-5;
    }


}

.trigger-feature {
    display: inline-block;
    margin-left: 65%;
    margin-bottom: 15px;
    border: 1px solid white;
    color: $color-white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: $radius;
    &:hover {
        background-color: mix(white, $color-1, 25%);
    }
}