// colors HEX

// $color: (
//     a: #243065 /* blue */,
//     b: #6888AF /* light blue 1 */,
//     c: #f4f4f7 /* light blue 2 */,
//     d: #9197b2 /* light blue 3 */,
//     e: #396040 /* green 1 */,
//     f: #18512E /* green 2 */,
//     g: #F0ECD7 /* beige 1 */,
//     h: #f1f5e6 /* beige 2 */,
//     i: #1f3870 /* hyperlink */,
//     j: #3f3f3f /* gray 1 */,
//     k: #939598 /* gray 2 */,
//     l: #cfcfcf /* gray 3 */,
//     m: #ffffff /* white */,
//     n: #eff3f7 /* offwhite */,
//     o: #000000 /* black */
// );

$color: (
    a: device-cmyk(0.6436,0.5248,0.0000,0.6039) /* blue */,
    b: device-cmyk(0.4057,0.2229,0.0000,0.3137) /* light blue 1 */,
    c: device-cmyk(0.0121,0.0121,0.0000,0.0314) /* light blue 2 */,
    d: device-cmyk(0.1854,0.1517,0.0000,0.3020) /* light blue 3 */,
    e: device-cmyk(0.4063,0.0000,0.3333,0.6235) /* green 1 */,
    f: device-cmyk(0.7037,0.0000,0.4321,0.6824) /* green 2 */,
    g: device-cmyk(0.0000,0.0167,0.1042,0.0588) /* beige 1 */,
    h: device-cmyk(0.0163,0.0000,0.0612,0.0392) /* beige 2 */,
    i: device-cmyk(0.7232,0.5000,0.0000,0.5608) /* hyperlink */,
    j: device-cmyk(0.0000,0.0000,0.0000,0.7529) /* gray 1 */,
    k: device-cmyk(0.0329,0.0197,0.0000,0.4039) /* gray 2 */,
    l: device-cmyk(0.0000,0.0000,0.0000,0.1882) /* gray 3 */,
    m: device-cmyk(0.0000,0.0000,0.0000,0.0000) /* white */,
    n: device-cmyk(0.0324,0.0162,0.0000,0.0314) /* offwhite */,
    o: device-cmyk(0,0,0,1) /* black */
);