// colors CMYK

$color: (
    a: device-CMYK(0.2500,0.0000,0.8750,0.8118) /* blue */,
    b: device-CMYK(0.2353,0.0000,0.9265,0.4667) /* light blue 1 */,
    c: device-CMYK(0.0000,0.0000,0.9385,0.0431) /* light blue 2 */,
    d: device-CMYK(0.0397,0.0000,0.9272,0.4078) /* light blue 3 */,
    e: device-CMYK(0.4063,0.0000,0.9583,0.6235) /* green 1 */,
    f: device-CMYK(0.7037,0.0000,0.9753,0.6824) /* green 2 */,
    g: device-CMYK(0.0000,0.0167,0.9458,0.0588) /* beige 1 */,
    h: device-CMYK(0.0163,0.0000,0.9429,0.0392) /* beige 2 */,
    i: device-CMYK(0.4464,0.0000,0.8750,0.7804) /* hyperlink */,
    j: device-CMYK(0.0000,0.0000,0.9524,0.7529) /* gray 1 */,
    k: device-CMYK(0.0134,0.0000,0.9396,0.4157) /* gray 2 */,
    l: device-CMYK(0.0000,0.0000,0.9420,0.1882) /* gray 3 */,
    m: device-CMYK(0.0000,0.0000,0.9412,0.0000) /* white */,
    n: device-CMYK(0.0165,0.0000,0.9383,0.0471) /* offwhite */,
    o: device-CMYK(0.0165,0.0000,0.9383,0.0471) /* black */
);