// colors HEX

$color: (
    a: #243065 /* blue */,
    b: #6888AF /* light blue 1 */,
    c: #f4f4f7 /* light blue 2 */,
    d: #9197b2 /* light blue 3 */,
    e: #396040 /* green 1 */,
    f: #18512E /* green 2 */,
    g: #F0ECD7 /* beige 1 */,
    h: #f1f5e6 /* beige 2 */,
    i: #1f3870 /* hyperlink */,
    j: #3f3f3f /* gray 1 */,
    k: #939598 /* gray 2 */,
    l: #cfcfcf /* gray 3 */,
    m: #ffffff /* white */,
    n: #eff3f7 /* offwhite */,
    o: #000000 /* black */
);