// major second

$baseValue: 16;
$baseUnit: px;
$baseSize: $baseValue + $baseUnit;

$baseSize: 16px;

@mixin baseScale($font, $color) {
    font-family: $font;
    font-size: $baseSize;
    font-weight: 400;
    line-height: 1.45;
}

@mixin baseHeading($font) {
    margin:(($baseValue * 2.75) + px) 0 $baseSize;
    font-family: $font;
    font-weight: 400;
    line-height: 1.15;
    hyphens: none;
}

$pMB: 1.25em;

$scale: (
    h1:($baseValue * 1.802) + px,
    h2:($baseValue * 1.602) + px,
    h3:($baseValue * 1.424) + px,
    h4:($baseValue * 1.266) + px,
    h5:($baseValue * 1.125) + px,
    h6:($baseValue * 1.0125) + px,
    small: 0.889em
);	






