/* Media Queries */
@media only screen and (max-width: 750px) {
  /* Font size increase */
  p {
    font-size: 18px;
  }
	p.tx {
  text-align: left;
}
	p {
  margin-bottom: 1em;
}
  ol, ul {
    font-size: 18px;
  }
  table, tr, th, td {
    font-size: 18px;
  }
  blockquote {
    font-size: 18px;
  }
  dl, dt, dd {
    font-size: 18px;
  }
  h1.h1 {
    font-size: 22px;
  }
  h2.h2 {
    font-size: 20px;
  }
  h3.h3 {
    font-size: 20px;
  }
  h4.h4 {
    font-size: 20px;
  }
  h1.eoc-h1 {
    font-size: 22px;
  }
  h2.eoc-h2 {
    font-size: 20px;
  }
  h3.eoc-h3 {
    font-size: 20px;
  }
  p.src {
    font-size: 14px;
  }
  p.credit {
    font-size: 14px;
  }
  p.table-footnote {
    font-size: 14px;
  }
  div.figure-box p.caption,
  div.figure-box-left p.caption,
  div.figure-box-left-thin p.caption,
  div.figure-box-right p.caption,
  div.figure-box-right-thin p.caption {
    font-size: 16px;
	   }




div.video-right {
	float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.video-right-FOD {
	float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.video-left {
	float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.video-center {
	float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.video-center-small {
	float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}	
	
	
div.figure-box {
  float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.figure-box-left {
  float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.figure-box-left-thin {
  float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.figure-box-right {
 float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.figure-box-right-thin {
  float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.figure {
  float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.figure-thin {
 float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}	

	div.photo-box {
 float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.photo-left {
 float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.photo-box-left {
 float: none;
    width: 100%;
    margin: 1em 0;
}

div.photo-box-left-thin {
  float: none;
    width: 100%;
    margin: 1em 0;
}

div.photo-right {
   float: none;
    width: 100%;
	 max-width: 800px;
    margin: 1em 0;
}

div.photo-box-right {
   float: none;
    width: 100%;
    margin: 1em 0;
}

div.photo-box-right-thin {
   float: none;
    width: 100%;
    margin: 1em 0;
}

	
  span.cn {
    font-size: 48px;
  }
  h1.ct {
    font-size: 24px;
  }
  .co-quote p.quote {
    font-size: 26px -2px;
  }
	
	
	  div.co-box {
    padding: 1em;
  }
  div.co-intro {
    padding: 1em;
  }
  div.co-cn {
    padding: 0 1em 1em 0;
  }	
p.media{
	
	line-height: 1.2em;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 1em;
	text-align: left;
	color: #000;
	display: inline;
}	
	
}
