
/* Media Queries */
@media only screen and (max-width: 750px) 
 {
  /* Font size increase */
  p {
    font-size: 18px;
  }

  ol, ul {
    font-size: 18px;
  }

  table, tr, th, td {
    font-size: 18px;
  }

  blockquote {
    font-size: 18px;
  }

  dl, dt, dd {
    font-size: 18px;
  }

  h1.h1 {
    font-size: 22px;
  }

  h2.h2 {
    font-size: 20px;
  }

  h3.h3 {
    font-size: 20px;
  }

  h4.h4 {
    font-size: 20px;
  }

  h1.eoc-h1 {
    font-size: 22px;
  }

  h2.eoc-h2 {
    font-size: 20px;
  }

  h3.eoc-h3 {
    font-size: 20px;
  }

  p.src {
    font-size: 14px;
  }

  p.credit {
    font-size: 14px;
  }

  p.table-footnote {
    font-size: 14px;
  }

  div.figure-box p.caption,
  div.figure-box-left p.caption,
  div.figure-box-left-thin p.caption,
  div.figure-box-right p.caption,
  div.figure-box-right-thin p.caption {
    font-size: 16px;
  }

  span.cn {
    font-size: 48px;
  }

  h1.ct {
    font-size: 24px;
  }

  .co-quote p.quote {
    font-size: 26px -2px;
  }

  /* Mobile un-justification */
  p.tx,
  p.tx-i,
  p.tx-b,
  p.tx-ext {
    text-align: left;
  }

  /* Photo & Figure boxes */
  div.photo-left,
  div.photo-box-left,
  div.photo-box-left-thin,
  div.photo-right,
  div.photo-box-right,
  div.photo-box-right-thin {
    float: none;
    width: 100%;
	 max-width: 750px;
    margin: 1em 0;
  }

  div.figure-box,
  div.figure-box-left,
  div.figure-box-left-thin,
  div.figure-box-right,
  div.figure-box-right-thin {
    float: none;
    width: 100%;
	  	 max-width: 750px;
    margin: 1em 0;
  }

  div.figure-thin {
    width: 75%;
  }

  /* Extract Boxes */
  div.box-1,
  div.box-2,
  div.box-3 {
    padding: 1em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
  }

  /* Other tweaks */
  div.co-box {
  position: relative;
  padding: 2em;
  color: white;
  background-color: #57616B;
}

  div.co-intro {
    padding: 1em;
  }

  div.co-cn {
    padding: 0 0 1em 1em;
  }

  .two-column {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
	 

  /* Videos */
  div.video-FOD, div.video-right-FOD, div.video-center, div.video-right, div.video-left, div.video-center-large, div.video-right-large, div.fig-centerSL {
	  float: none;
	  width: 100%;
	  margin: 1em 0;
  }

 /* Storylines 
  div.figure-articulate, div.fig-centerSL {
	  display: none;
  }*/

p.media{
	
	line-height: 1.2em;
	font-size: 18px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.6em;
	text-align: left;
	color: #000;
	display: inline;

}	

p.sl-caption
{
	margin-top: 1em;
	font-size: 14px;
	font-weight: bold;
	line-height: 1.2em;
} 
	 
  .co-box-app {
	  hyphens: auto;
	 }
	 
}




