/*! Template 2.1 Upper Level Modern */
/*! Color Pallet 5 */
/*! CSS Compiled on: 2014-12-10 14:12:12 -0500 */
body {
  max-width: 964px;
  margin-right: auto;
  margin-left: auto; }

[data-output="pdf"] {
  display: none; }

/* --- base styles --- */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6, div, p, ol, ul, li, table, tr, th, td, blockquote, dl, dt, dd {
  color: #000000;
  font-family: Cambria, Times, "Times New Roman", serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  line-height: 1.25;
  margin: 0;
  padding: 0; }

/* Base Styles */
h1, h2, h3, h4, h5, h6 {
  font-family: Cambria, Times, "Times New Roman", serif;
  -webkit-hyphens: none !important;
  -epub-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

img {
  max-width: 100%;
  height: auto; }

a {
  text-decoration: underline;
  color: #1f3870; }

p {
  margin-bottom: 1em; }

/* --- headings --- */
h1.h1 {
  color: #243065;
  font-size: 16pt;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  margin: 0 0 0.5em 0;
  padding: 0 0 0.125em 0;
  clear: both; }

/*new class for toc*/
h1.h1_toc {
  color: #243065;
  font-size: 16pt;
  font-weight: bold;
  font-style: normal;
  text-align: left;
  margin: 0 0 0.5em 0;
  padding: 0.5em 0 0.125em 0;
  clear: both;
  border-bottom: 2px solid #000000; }

/*new class for toc*/
h1.h1_green_toc {
  color: #396040;
  font-weight: bold;
  margin: 0 0 1em 0;
  clear: none;
  text-align: left;
  border: none;
  font-size: 14pt; }

/*new class for toc*/
h1.h1_right_toc {
  color: #396040;
  font-weight: bold;
  margin: 0 0 1em 0;
  clear: none;
  text-align: left;
  border: none;
  font-size: 14pt;
  padding-left: 2.5em; }

h2.h2 {
  color: #243065;
  font-size: 14pt;
  font-weight: bold;
  font-style: normal;
  margin: 1.5em 0 1em 0;
  clear: none; }

h3.h3 {
  color: #243065;
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  margin: 1.5em 0 0.5em 0;
  clear: none; }

h4.h4 {
  color: #243065;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  margin: 1.5em 0 0.5em 0;
  clear: both; }

h1.eoc-h1 {
  color: #243065;
  font-size: 20px;
  text-align: left;
  margin: 0 0 1em 0;
  clear: both; }

h2.eoc-h2 {
  color: #243065;
  font-size: 14pt;
  font-weight: bold;
  margin: 1.75em 0 0.5em 0;
  clear: both;
  text-align: center;
  /*newly added*/ }

h3.eoc-h3 {
  color: #243065;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 1em 0;
  clear: both; }

h2.pt {
  /* Pre/Post Test */
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin: 0 0 1em 0;
  clear: both;
  border-top: 2px solid #000000; }

/*new class for toc*/
a.blink {
  color: #000000; }

/*new class for toc*/
a.glink {
  color: #396040; }

/*new class for toc*/
a.clink {
  color: #243065; }

h2.co {
  /* Learning Objectives and/or Chapter Outline heading */
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin: 0 0 1em 0;
  clear: both;
  border-bottom: 2px solid #000000; }

h1.part {
  color: #000000;
  font-size: 24pt;
  font-weight: normal;
  /*Changed*/
  font-style: normal;
  text-align: center;
  margin: 0 0 1em 0;
  padding: 0 0 0.125em 0;
  clear: both; }

/* --- paragraph --- */
p.tx {
  text-align: justify; }

/*new class for toc*/
p.tablecontent {
  text-align: justify;
  font-size: 30pt;
  margin-bottom: 0.5em; }

h1.tablecontent {
  text-align: justify;
  font-size: 30pt;
  margin-bottom: 0.5em; }

/*new class for toc*/
p.large {
  text-align: justify;
  font-size: 14pt;
  margin-bottom: 0.4em; }

/*new class for toc*/
p.ext_toc {
  text-align: justify;
  padding: 0 3em;
  margin-top: -0.5em; }

/*new class for toc*/
p.ext1_toc {
  text-align: justify;
  padding: 0 3.5em;
  margin-top: -0.5em; }

p.tx-center {
  text-align: center; }

p.tx-right {
  text-align: right; }

p.tx-left {
  text-align: left; }

p.tx-i {
  font-style: italic;
  text-align: justify; }

p.tx-i i, p.tx-i .bi, p.tx-i .ui, p.tx-i a {
  /* Reverse italics */
  font-style: normal; }

p.tx-b {
  font-weight: bold;
  text-align: justify; }

p.tx-ref {
  text-indent: -2em;
  margin-left: 2em;
  word-break: break-word; }

p.ext {
  text-align: justify;
  padding: 0 2em; }

p.ul {
  /* See list styles */ }

p.src {
  color: #3f3f3f;
  font-size: 12px;
  font-style: italic; }

p.src i, p.src .bi, p.src .ui, p.src a {
  /* Reverse italics */
  font-style: normal; }

p.credit {
  color: #3f3f3f;
  font-size: 12px;
  font-style: italic;
  text-align: right;
  margin: 0.5em 0em; }

p.credit i, p.credit .bi, p.credit .ui, p.credit a {
  /* Reverse italics */
  font-style: normal; }

p.intro {
  font-style: italic; }

p.intro i, p.intro .bi, p.intro .ui, p.intro a {
  /* Reverse italics */
  font-style: normal; }

p.outline1 {
  font-weight: bold;
  margin: 1em 0 0.5em 2em; }

p.outline2 {
  margin: 0.5em 0 0.5em 2em; }

p.outline3 {
  font-style: italic;
  margin: 0.5em 0 0.5em 2em; }

p.answer {
  margin: 1.5em 0 1em 0;
  clear: both; }

p.tx > img, p.tx-center > img, p.tx-right > img, p.tx-left > img, p.tx-i > img, p.tx-b > img, p.tx-glo > img, p.tx-ref > img, p.ext > img, p.intro > img {
  /* Images placed inside paragraphs */
  display: block;
  width: auto;
  margin: 1em auto; }

/* --- character --- */
span.bi {
  font-weight: bold;
  font-style: italic; }

/*new class created for toc*/
span.nbold {
  font-weight: normal; }

span.u {
  text-decoration: underline; }

span.ui {
  font-style: italic;
  text-decoration: underline; }

span.footnote-ref {
  color: #1f3870; }

span.hyperlink {
  color: #1f3870;
  -ms-word-break: break-all;
  word-break: break-all;
  /* Non standard for webkit */
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto; }

span.badge {
  display: inline-block;
  background-color: #000;
  color: #FFF;
  width: 1em;
  height: 1em;
  line-height: 1;
  border-radius: 0.5em; }

span.col-number {
  display: block;
  float: left;
  margin-left: -2em; }

/* --- lists --- */
ol, ul {
  margin-bottom: 1em;
  padding-left: 2em;
  overflow: inherit;
  /*Changed*/
  /* Fix for overlapping with floats */ }

/* Nested lists */
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
  padding-left: 1.5em;
  overflow: visible; }

li {
  padding-left: 0.5em; }

li.bl {
  /* Bulleted list */
  list-style-type: disc; }

li.nl {
  /* Numbered List */
  list-style-type: decimal; }

li.ll {
  /* Lowercase Letteres List */
  list-style-type: lower-alpha; }

li.ull {
  /* Uppercase Lettered List */
  list-style-type: upper-alpha; }

li.pll {
  /* Parenthetical Lettered List */
  list-style-type: none;
  counter-increment: item; }

li.pll::before {
  /* Parenthetical Lettered List Counter */
  content: counter(item, lower-alpha) ") ";
  display: block;
  float: left;
  margin-left: -2em;
  width: 2em; }

li.rn {
  /* Roman Numerals List */
  list-style-type: lower-roman; }

li.urn {
  /* Uppercase Roman Numerals List */
  list-style-type: upper-roman; }

li.ul, p.ul {
  /* Unnumbered List */
  list-style-type: none; }

p.ul {
  padding-left: 1em; }

/* --- tables --- */
h4.table-name {
  margin-bottom: 0.1em;
  clear: both;
  color: #243065;
  font-weight: bold;
  font-size: 13pt;
  margin-left: -0.4em; }

h5.table-title {
  margin-bottom: 0.5em;
  clear: both;
  color: #000000;
  font-weight: bold; }

/* Table Styles */
table {
  border-collapse: collapse;
  margin: 0 auto 1em;
  width: 99%; }

table p.tx, table p.tx-i, table p.tx-b, table p.ext {
  text-align: left; }

td, th {
  border: 1px solid #939598;
  /*Changed*/
  padding: 0.25em 0.5em;
  vertical-align: top; }

td.table-header,
th.table-header {
  background-color: #6888AF;
  color: #ffffff;
  font-weight: bold;
  /*Newly added*/ }

td.table-subhead,
th.table-subhead {
  background-color: #6888AF; }

td.table-cell,
td.table-cell-reg {
  background-color: #ffffff; }

td.table-cell-alt {
  background-color: #eff3f7; }

tr:nth-child(even) td.table-cell {
  background-color: #eff3f7; }

td.no-border {
  border: none !important;
  padding-bottom: 0em; }

td.border {
  border: 1px solid #cfcfcf; }

table.no-collapse {
  border-collapse: collapse;
  /*Changed*/
  border-spacing: 0; }

/* newly added CSS for center double images*/
table.plain {
  margin: 1em auto;
  border-collapse: collapse;
  width: 100%;
  border: 1px none #000000;
  padding: 1em;
  clear: both; }

/* Table Text Styles */
p.table-footnote {
  color: #000000;
  font-size: 12px;
  margin-top: -0.5em;
  /*newly added*/ }

p.table-head {
  color: #ffffff;
  font-weight: bold;
  margin: 0; }

p.table-head-center {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  margin: 0; }

table p.tx, table p.tx-center, table p.tx-left, table p.tx-right, table p.tx-i, table p.tx-b {
  margin: 0; }

.table-footnote2 {
  color: #626365;
  font-size: 10pt; }

td.table-glossary {
  font-family: Cambria, Times, "Times New Roman", serif;
  text-align: left;
  font-size: 16px;
  padding-top: 0.5em;
  padding-right: 0em;
  padding-left: 0em;
  padding-bottom: 0.5em;
  vertical-align: top;
  border: none;
  color: #000;
  width: none; }

table.table-glossary {
  border: none;
  color: #000;
  width: none;
  padding-left: 0em;
  padding-right: 0em; }

/* --- photo --- */
/* Photo Box Styles */
div.photo-box {
  margin: 1em 0em 0em 0em;
  padding: 0em; }

div.photo-box-cover {
  margin: 1em auto;
  width: 85%;
  max-width: 600px;
  padding: 0;
  float: none;
  clear: both; }

div.photo-left {
  width: 45%;
  max-width: 600px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: both; }

div.photo-box-left {
  width: 45%;
  max-width: 600px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: both; }

div.photo-box-left-thin {
  width: 30%;
  max-width: 500px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: both; }

div.photo-right {
  width: 45%;
  max-width: 600px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: both; }

div.photo-box-right {
  width: 45%;
  max-width: 600px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: both; }

div.photo-box-right-thin {
  width: 30%;
  max-width: 500px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: both; }

div.photo-right-v {
  float: right;
  width: 50%;
  padding: 0em;
  margin-right: 0em;
  margin-left: 1em;
  margin-top: 1em;
  margin-bottom: 1em;
  max-width: 250px;
  min-width: 200px;
  clear: both; }

div.photo-box-vector {
  margin: 1em auto;
  width: 35%;
  clear: both; }

div.photo img {
  display: block; }

div.photo-caption p.credit {
  text-align: right; }

/* Photo Box Text Styles */
div.photo-box p.caption,
div.photo-box-left p.caption,
div.photo-box-left-thin p.caption,
div.photo-box-right p.caption,
div.photo-box-right-thin p.caption {
  color: #18512E;
  font-weight: bold;
  margin-bottom: 0; }

.photo-caption {
  color: #1a5b35;
  font-size: 12;
  font-weight: bold;
  margin-top: 0em;
  padding-top: 0em; }

/* --- figures ---*/
div.figure-box {
  margin: 2em auto;
  clear: both;
  width: 75%; }

div.figure-box-left {
  width: 40%;
  max-width: 500px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: right; }

div.figure-box-left-thin {
  position: relative;
  width: 30%;
  max-width: 400px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: left; }

div.figure-box-right {
  width: 40%;
  max-width: 500px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: left; }

div.figure-box-right-thin {
  position: relative;
  width: 30%;
  max-width: 400px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: right; }

div.figure {
  margin: 1em auto; }

div.figure-thin {
  margin: 1em auto;
  width: 50%; }

/* Figure Box Text Styles */
h4.figure-name {
  color: #18512E;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding-bottom: 0.125em;
  border-bottom: 2px solid #18512E; }

h5.figure-title {
  color: #000000;
  font-weight: bold;
  margin-bottom: 0.5em; }

div.figure-box p.caption,
div.figure-box-left p.caption,
div.figure-box-left-thin p.caption,
div.figure-box-right p.caption,
div.figure-box-right-thin p.caption {
  color: #000000;
  font-size: 14px;
  font-weight: normal; }

/* Extract Box */
div.ext {
  margin: 1em 2em; }

div.ext h1.h1, div.ext h2.h2, div.ext h3.h3, div.ext h4.h4 {
  margin: 1em 0;
  border: none; }

/* Pull Quotes */
div.pull-quote,
blockquote.pull-quote {
  float: right;
  width: 35%;
  padding: 1em 0;
  margin: 0 -1em 0.5em 1em;
  border-top: 3px solid #9197b2;
  border-bottom: 3px solid #9197b2; }

div.pull-quote p.tx,
blockquote.pull-quote p.tx {
  color: #000000;
  margin: 0;
  text-align: left;
  font-style: italic; }

div.pull-quote img,
blockquote.pull-quote img {
  float: left;
  width: 50px;
  margin: 0 1em 1em 0; }

/* --- vignettes --- */
.vignette {
  font-style: italic; }

.vignette p, .vignette li, .vignette h1, .vignette h2, .vignette h3, .vignette h4, .vignette h5, .vignette h6 {
  font-style: italic; }

.vignette i, .vignette .bi, .vignette .ui, .vignette a {
  /* Reverse italics */
  font-style: normal; }

/* --- boxes --- */
div.box-1 p.src, div.box-2 p.src, div.box-3 p.src, div.box-4 p.src, div.box-5 p.src {
  font-style: normal; }

div.box-1 p.src i, div.box-2 p.src i, div.box-3 p.src i, div.box-4 p.src i, div.box-5 p.src i {
  font-weight: normal;
  font-style: italic; }

div.box-1 p.src b, div.box-2 p.src b, div.box-3 p.src b, div.box-4 p.src b, div.box-5 p.src b {
  font-style: normal;
  font-weight: bold; }

li div.box-1, li div.box-2, li div.box-3, li div.box-4, li div.box-5 {
  margin-left: -2.5em; }

li li div.box-1, li li div.box-2, li li div.box-3, li li div.box-4, li li div.box-5 {
  margin-left: -4em; }

div.box-1 p.tx, div.box-2 p.tx, div.box-3 p.tx, div.box-4 p.tx, div.box-5 p.tx, div.box-1 p.tx-i, div.box-2 p.tx-i, div.box-3 p.tx-i, div.box-4 p.tx-i, div.box-5 p.tx-i, div.box-1 p.tx-b, div.box-2 p.tx-b, div.box-3 p.tx-b, div.box-4 p.tx-b, div.box-5 p.tx-b, div.box-1 p.ext, div.box-2 p.ext, div.box-3 p.ext, div.box-4 p.ext, div.box-5 p.ext {
  text-align: left; }

div.box-1 p:last-child, div.box-2 p:last-child, div.box-3 p:last-child, div.box-4 p:last-child, div.box-5 p:last-child {
  margin-bottom: 0; }

div.box-1:last-child, div.box-2:last-child, div.box-3:last-child, div.box-4:last-child, div.box-5:last-child {
  margin-bottom: 0; }

/* Box Styles */
div.box-1 {
  background-color: #F0ECD7;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both; }

/*Newly created class*/
div.box_qtc {
  background-color: #f1f5e6;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both; }

div.box-1 h1.h1 {
  color: #243065;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid #243065; }

div.box-1 h2.h2 {
  color: #000000;
  margin: 1.5em 0 1em 0;
  clear: none; }

div.box-2 {
  background-color: #f1f5e9;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both; }

div.box-2 h1.h1 {
  color: #243065;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none; }

div.box-2 h2.h2 {
  color: #000000;
  margin: 1.5em 0 1em 0;
  clear: none; }

/*Newly created class*/
div.box-1 h1.h1_green {
  color: #396040;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none;
  font-size: 16pt; }

/*Newly created class*/
div.box_qtc h1.h1_green {
  color: #396040;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none;
  font-size: 16pt; }

div.box-3 {
  background-color: #f4f4f7;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both; }

div.box-3 h1.h1 {
  color: #243065;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none; }

div.box-3 h2.h2 {
  color: #000000;
  margin: 1.5em 0 1em 0;
  clear: none; }

div.box-4 {
  background-color: red;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both; }

div.box-4 h1.h1 {
  color: #ffffff;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid #ffffff; }

div.box-4 h2.h2 {
  color: #ffffff;
  margin: 1.5em 0 1em 0;
  clear: none; }

div.box-5 {
  background-color: red;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both; }

div.box-5 h1.h1 {
  color: #ffffff;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none; }

div.box-5 h2.h2 {
  color: #ffffff;
  margin: 1.5em 0 1em 0;
  clear: none; }

h2.Case-Study {
  color: #243065;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid #243065; }

/* --- co --- */
div.co {
  background-color: transparent;
  page-break-inside: avoid;
  margin-bottom: 2em;
  overflow: hidden; }

div.co-box {
  position: relative;
  padding: 2em;
  color: #F0ECD7;
  background-color: #243065; }

div.co-intro {
  padding: 2em;
  background-color: #f7f5eb; }

div.co-intro h2 {
  padding-bottom: 0.5em;
  margin-top: 0; }

div.co-intro li {
  margin-bottom: 0.75em; }

div.co-intro p.answer {
  color: #3f3f3f;
  font-style: italic; }

div.co-cn {
  float: left;
  padding: 0 3em 1em 0;
  margin-left: 10%;
  /*Newly Added*/ }

div.co-ct {
  margin-bottom: 1.5em; }

div.co-photo {
  clear: both; }

div.co-photo img {
  display: block; }

div.co-cr {
  padding: 0.5em 0 1em 0;
  clear: both;
  width: 90%;
  /*Newly added*/ }

div.co-cr p.credit {
  color: #F0ECD7;
  margin: 0; }

.co-quote {
  margin: 3em 0 2em 0; }

.co-quote p.quote {
  font-size: 26px;
  font-style: italic;
  text-align: right; }

h1.ct {
  /* Chapter Title */
  color: #F0ECD7;
  font-size: 35pt;
  /*font-weight: bold;*/
  width: 80%;
  /*Newly added*/
  margin-top: 20px;
  /*Newly added*/
  margin-left: 10%;
  /*Newly added*/
  text-align: left;
  /*Newly added*/
  margin-bottom: 25px;
  /*Newly added*/ }

span.cn {
  /* Chapter Number */
  color: #F0ECD7;
  font-size: 72pt;
  line-height: 0.85;
  vertical-align: top; }

/* New class created */
div .co-photo {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

.letter_space {
  letter-spacing: 05px; }

/* --- key terms --- */
dl.key-terms {
  margin: 1em 0; }

dt.term {
  color: #1f3870;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline; }

dd.definition {
  margin: 0 0 1em 1em; }

/* --- special objects --- */
/* Equation Styles */
.eq {
  text-align: center;
  margin: 1em auto; }

/* Special Objects */
.photo-cover {
  width: 80%;
  max-width: 500px;
  float: none;
  clear: both;
  margin: 0 auto;
  padding: 2em; }

.scroll-wrapper {
  /* Allows wide, non-shrinkable objects to scroll horizontally on small screens */
  position: relative;
  width: 100%;
  overflow-x: auto;
  margin: 1em 0; }

.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

.icon {
  float: left;
  width: 50px;
  margin: 0 1em 1em 0; }
