// page

/* ---------------------------------------

PDF CSS

-----------------------------------------*/

/*
Basic Page Set up
*/

// body {
//     max-width: 964px;
//     margin-left: auto;
//     margin-right: auto;
// }

@page {
    size: US-Letter;
    background: #ffffff;
    font-weight: normal;
    margin: .75in;
    @top-right {
        content: string(heading-top-right);
        font-size: 9pt;
    }
    @top-left {
        content: string(heading-top-left);	
        font-size: 9pt  
    }
    @bottom {
        content: counter(page);
        font-size: 9pt;
    }
  }


  
  *[title] { 
      prince-tooltip: attr(title); 
  }
  
  div.co-ct {prince-bookmark-level: 1}
  h1.h1 {prince-bookmark-level:2}
  h2.h2 {prince-bookmark-level:3}
  
  [data-heading='top-left'] {
      string-set: heading-top-left content();
  }
  
  [data-heading='top-right'] { 
    string-set: heading-top-right content(); 
  }
  
  /*
  Frontmatter page numbering
  */
  
  @page pdfFM {
      @bottom {
          content: counter(page, lower-roman);
      }
  }
  
  #pdfFM {
      display: block;
      page: pdfFM;
  }
  
  /* 
  Main content page numbering
  */
  
  @page pdfMain {
      @bottom {
          content: counter(page, decimal);
      }
  }
  
  #pdfMain {
      display: block;
      page: pdfMain;
      counter-reset: page 1;
  }

[data-output="epub"] {
    display: none;
}

.breakBefore {
	page-break-before: always;
}



.breakAfter {
	page-break-after: always;
}

/* break before */
div.co-box {
	page-break-before: always;
}

ul#briefList a:after,
ul#detailList a:after {
    content: leader('.') target-counter(attr(href), page);
}
