// text 

/* ----- paragraphs ----- */


p {
	margin-bottom: $pMB;
	color: $color-black;
}

p.tx, p.tx-center {
	@include mainCol;
	text-align: left;
}

p.tx {
	text-align: left;
}

p.tx-center {
	text-align: center;
}
  
p.tx-right {
	text-align: right;
}
  
p.tx-justify {
	text-align: justify;
}
  
p.tx-i {
	font-style: italic;
	text-align: justify;
}

p.tx-i {
	  i, .bi, .ui, a {
		  font-style: normal;
	}
}
  
  
p.tx-b {
	font-weight: bold;
	text-align: justify;
}
  
p.tx-ref {
	text-indent: -2em;
	margin-left: 2em;
}
  
p.ext {
	text-align: justify;
	padding: 0 2em;
}
  
p.src {
	color: $gray-1;
	font-size: 12px;
	font-style: italic;
}
  
p.src {
	  i, .bi, .ui, a {
		  font-style: normal;
	  }
}
  
p.cr {
	color: $gray-1;
	font-size: 12px;
	font-style: italic;
	text-align: right;
	margin: 0.5em 0;
}  
  
  p.credit i, p.credit .bi, p.credit .ui, p.credit a {
	/* Reverse italics */
	font-style: normal;
  }

  /* ----- blockquotes ----- */

  blockquote.pullquote {
	  display: block;
	  @include mainCol;
	  padding: 15px 30px;
	  @include verticalM($elemM);
	  border-top: 1px solid $color-4;
	  border-bottom: 1px solid $color-4;
	  border-left: none;
	  color: $color-4;
	  font-size: 36px;
	  font-family: $fontAccent;
	  font-style: italic;
  }

/* - constellation left border override -*/@at-root

blockquote#bq-override-1-5-1.pullquote {
	border-left: none;
}
  
    /* ----- character styles ----- */
  
  b.xl {
	  font-weight: bold;
	  strong {
		  font-weight: inherit;
		  font-style: italic;
	  }
  }
  
  /* - key terms - */
  strong {
	  font-weight: bold;
	  font-style: italic;
	  color: $color-4;
  }

