// co

/* ----- co ----- */

.co_header {
    position: relative;
    padding-left: 42%;
    min-height: 400px;
}

figure.co_aside {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 38%;
    padding: 0;
    margin: 0;
    img {
        width: 100%;
        border-radius: 50%;
        padding: 0;
        margin: 0;
    }
    figcaption {
        margin-top: 0.8em;
        p.cr {
            text-align: left;
            margin: 0;
            padding: 0;
        }
    }
}

h1.ct {
    br {
        display: none;
    }
    background-color: $color-5;
    color: $color-white;
    text-align: center;
    padding: 40px 60px;
    border-radius: $radius;
    
}

.ct_number {
    border: 1px solid mix(white, $color-5, 25%);
    padding: 0 8px;
    border-radius: 4px;
    text-align: center;
}

.co_quote {
   width: 65%;
    margin: 60px auto 0 auto;
    p.quote_text, cite.quote_cite {
        position: relative;
        font-family: $fontAccent;
    }
    p.quote_text {
        position: relative;
        display: inline;
        line-height:1.75;
    }
    p.quote_text:before {
        content: "\201C";
        position: absolute;
        top: -40px;
        left: -40px;
        font-size: 4em;
        color: $color-5;
    }
    p.quote_text:after {
        content: "\201D";
        position: absolute;
        bottom: -55px;
        right: -40px;
        font-size: 4em;
        color:$color-5;
    }
    cite.quote_cite {
       display: block;
        text-align: right;
        margin-top: 30px;
        padding-right: 15px;
        font-size: 0.85em;
    }
}

.co_intro {
    margin-top: $elemM-XL;
}

/* - constellation border-left override - */



