// tables


/* ----- tables ----- */

$tblColor: $color-1;

table {
    border-collapse: collapse;
    border: none;
    @include verticalM($elemM-XL);
}

td {
    font-size: 14px;
}

table.tbl-sm {
    position: relative;
    border: none;
    @include mainCol;
    .tbl_name {
        position: absolute;
        top: 0;
        left: -70%;
        width: 65%;
        max-width: 373px;
        color: $tblColor;
        text-align: right;
        font-size: map-get($map: $scale, $key: h4);        
    }
}

table.tbl-xl {
    position: relative;
    border: none;
    width: 100%;
    max-width: 700px;
    margin-right: 0;
    margin-left: auto;
    .tbl_name {
      position: absolute;
      max-width: 35%;
      top: 0;
      left: -38%;
      color: $tblColor;
      text-align: right;
      font-size: map-get($map: $scale, $key: h6); 
    }
    td {
      font-size: 14px;
    }
  }

.tbl_number {
    //@include badgeSemiCircle($color-1, 6px);
    @include badgeSemiCircle2($color-1);
}

.tbl_title {
    color: $color-4;
}

td, th {
    border: 1px solid $gray-2;
    padding: 0.25em 0.5em;
    vertical-align: top;
  }
  
  .tbl_header th,
  .tbl_header td ,
  .tbl_subheader th,
  .tbl_subheader td{
      background-color: $tblColor;
      color: $color-white;
      font-weight: bold;
  }
  
  tr:nth-child(even) td.table-cell {
    background-color: $gray-3;
  }
  
  tfoot.no-border > tr > td {
    border: none !important;
    padding-left: 0em;
  }
  
  td.border {
    border: 1px solid $gray-2;
  }

  td ol, td ul {
      @include clearMainCol(100%, 100%,auto,auto);
  }


