// figures



// figures

/* ----- figures ----- */

$fnColor: $color-4;

// figcaption floats to the left;

@mixin figureFloat {
    @include verticalM($elemM-XL);
    @include elemCenter; 
    @include clearfix;
    padding-top: $elemM;
    padding-bottom: $elemM;
    padding-left: 10px;
    padding-right: 10px; 
    img {
        @include mainCol;
    }
    figcaption {
        @include asideCol;
    }
    p.caption {
        font-size: .9em;
        text-align: right;
    }
    p.src {
        text-align: right;
    }
    h4.figure_name {
        margin-top: 0;
        text-align: right;
    }    
    .figure_number {
        @include badgeSemiCircle2($fnColor);
    }    
    .figure_title {
        color: $fnColor;
    }    
}

// fig caption and img are in-line block elements with figure

@mixin figureIB {
    @include verticalM($elemM-XL);
    @include elemCenter; 
    padding-top: $elemM;
    padding-bottom: $elemM;
    padding-left: 10px;
    padding-right: 10px;
    //border-top: 1px solid $fnColor;
    //border-bottom: 1px solid $fnColor;
    img {
        //@include mainCol;
        display: inline-block;
        width: $mainWidth;
        max-width: $mainMax;
        vertical-align: middle;
    }
    figcaption {
        //@include asideCol;
        display: inline-block;
        width: $asideWidth;
        max-width: $asideMax;
        vertical-align: middle;
        padding-right: 30px;
    }
    p.caption {
        font-size: .9em;
        text-align: right;
    }
    p.src {
        text-align: right;
    }
    h4.figure_name {
        margin-top: 0;
        text-align: right;
    }    
    .figure_number {
        display: inline-block;
        margin-bottom: .25em;
        background-color: $fnColor;
        color: $color-white;
        padding: 8px 8px;
        border-radius: $radius;
    }    
    .figure_title {
        color: $fnColor;
    }    
}



.figure-1 {
    @include figureFloat;
}



