// photos

// photo without a caption
// img appears in left column

@mixin photo-aside {
    @include asideCol;
    margin: 0;
    clear: both;
    
    img {
        width: 100%; 
        border-radius: $radius;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    figcaption {
        margin-bottom: 0;
    }
    p.caption {
        font-size: .9em;
        text-align: left;
    } 

}

// photo with a caption
// caption in left column, img in right column

@mixin photo-main {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 0;
    margin-left: auto;
    @include clearfix;
    img {
        width: $mainWidth;
        max-width: $mainMax;
        float: right;
        border-radius: $radius;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    } 
    figcaption {
        @include asideCol;
        position: relative;
    }
    p.caption {
        font-size: .9em;
        text-align: right;
    } 
    p.cr {
        position: absolute;
        width: 200px;
        right: 15px;
        bottom: -8px;
    }   

}

/* 
 photo with a caption
 photo appears in main column. 
 caption appears in aside column
 */

.photo-right {
    @include photo-main;
}

/* 
photo without caption
photo appears in aside column
*/

.photo-left {
    @include photo-aside;
}