// links

/* ----- links ----- */

.link {
	text-decoration: none;
	color: mix(black, $color-1, 20%);
	border-bottom: dotted 1.5px mix(black, $color-1, 20%);
	transition: border-bottom-style .27s;
	&:hover {
		border-bottom-style: solid; 
	}
}