// features

/* ----- features ----- */


/* ----- custom content structure ----- */
[class^="article-custom-"] {
    position: relative;
    @include elemCenter;
    @include verticalM($elemM-XL);
    width:100%;
    padding-top: 30px;
    padding-bottom: 30px;
    p.tx, ul, ol {
        width: 100%;
        max-width: none;
        margin-right: auto;
        padding-left: 30px;
        padding-right: 30px;         
        color: $color-white;
        strong, b.xl {
            color: $color-white;
        }
    } 
    h2.h2, h3.h3, h4.h4 {
        max-width: none;
        margin: 0 auto;
        position: absolute;
        top: 0;
        bottom: 0;
        width: 40%;
        border-bottom: none;
        float: none;  
        color: $color-white;      
    }
    .article-custom_title {
        margin: 0;
        padding: 4px 20px;
        position: absolute;
        top: 45%; 
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-45%);
        -ms-transform: translateY(-45%); 
        transform: translateY(-45%);
        line-height: 1.45;        
    }        
}

.article-custom-right {
    padding-left: 40%;
    border-radius: $radius;
    h2.h2, h3.h3, h4.h4 {
        left: 0;
        border-top-left-radius: $radius;
        border-bottom-left-radius: $radius;
    }
}

.article-custom-left {
    padding-right: 40%;
    border-radius: $radius;
    h2.h2, h3.h3, h4.h4 {
        right: 0;
        border-top-right-radius: $radius;
        border-bottom-right-radius: $radius;
    }

}

/* ----- custom content colors ----- */

.article-custom-left, .article-custom-right {
    &.color-1 {
        background-color: $color-1;
        h2.h2, h3.h3, h4.h4 {
            background-color: mix(black, $color-1, 20%);
        }
    }
    &.color-2 {
        background-color: $color-2;
        h2.h2, h3.h3, h4.h4 {
            background-color: mix(black, $color-2, 20%);
        }
    } 
    &.color-3 {
        background-color: $color-3;
        h2.h2, h3.h3, h4.h4 {
            background-color: mix(black, $color-3, 20%);
            color: mix(black, $color-3, 75%);
        }
        p.tx, li {
            color: mix(black, $color-3, 75%);
            strong, b.xl, em {
                color: mix(black, $color-3, 75%);
            }
        }
    } 
    &.color-4 {
        background-color: $color-4;
        h2.h2, h3.h3, h4.h4 {
            background-color: mix(black, $color-4, 20%);
        }
    } 
    &.color-5 {
        background-color: $color-5;
        h2.h2, h3.h3, h4.h4 {
            background-color: mix(black, $color-5, 20%);
        }
    }  
    
    &.color-gray {
        background-color: $gray-1;
        h2.h2, h3.h3, h4.h4 {
            background-color: mix(black, $gray-1, 20%);
        }
    }     
          
}







