// boxes

/* --- boxes --- */

div.box-1 p.src, div.box-2 p.src, div.box-3 p.src, div.box-4 p.src, div.box-5 p.src {
  font-style: normal;
}
div.box-1 p.src i, div.box-2 p.src i, div.box-3 p.src i, div.box-4 p.src i, div.box-5 p.src i {
  font-weight: normal;
  font-style: italic;
}
div.box-1 p.src b, div.box-2 p.src b, div.box-3 p.src b, div.box-4 p.src b, div.box-5 p.src b {
  font-style: normal;
  font-weight: bold;
}
li div.box-1, li div.box-2, li div.box-3, li div.box-4, li div.box-5 {
  margin-left: -2.5em;
}
li li div.box-1, li li div.box-2, li li div.box-3, li li div.box-4, li li div.box-5 {
  margin-left: -4em;
}
div.box-1 p.tx, div.box-2 p.tx, div.box-3 p.tx, div.box-4 p.tx, div.box-5 p.tx, div.box-1 p.tx-i, div.box-2 p.tx-i, div.box-3 p.tx-i, div.box-4 p.tx-i, div.box-5 p.tx-i, div.box-1 p.tx-b, div.box-2 p.tx-b, div.box-3 p.tx-b, div.box-4 p.tx-b, div.box-5 p.tx-b, div.box-1 p.ext, div.box-2 p.ext, div.box-3 p.ext, div.box-4 p.ext, div.box-5 p.ext {
  text-align: left;
}
div.box-1 p:last-child, div.box-2 p:last-child, div.box-3 p:last-child, div.box-4 p:last-child, div.box-5 p:last-child {
  margin-bottom: 0;
}
div.box-1:last-child, div.box-2:last-child, div.box-3:last-child, div.box-4:last-child, div.box-5:last-child {
  margin-bottom: 0;
}

/* Box Styles */
div.box-1 {
  background-color: $color-7;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}
/*Newly created class*/
div.box_qtc {
  background-color: $color-8;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}

div.box-1 h1.h1 {
  color: $color-1;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid $color-1;
}
div.box-1 h2.h2 {
  color: $color-15;
  margin: 1.5em 0 1em 0;
  clear: none;
}

div.box-2 {
  background-color: $color-8;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}
div.box-2 h1.h1 {
  color: $color-1;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none;
}
div.box-2 h2.h2 {
  color: $color-15;
  margin: 1.5em 0 1em 0;
  clear: none;
}

/*Newly created class*/
div.box-1 h1.h1_green {
  color: $color-5;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none;
  font-size: 16pt;
}
/*Newly created class*/
div.box_qtc h1.h1_green {
  color: $color-5;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none;
  font-size: 16pt;
}

div.box-3 {
  background-color: $color-3;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}
div.box-3 h1.h1 {
  color: $color-1;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none;
}
div.box-3 h2.h2 {
  color: $color-15;
  margin: 1.5em 0 1em 0;
  clear: none;
}

div.box-4 {
  background-color: red;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}
div.box-4 h1.h1 {
  color: $color-13;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid $color-13;
}
div.box-4 h2.h2 {
  color: $color-13;
  margin: 1.5em 0 1em 0;
  clear: none;
}

div.box-5 {
  background-color: red;
  padding: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}
div.box-5 h1.h1 {
  color: $color-13;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border: none;
}
div.box-5 h2.h2 {
  color: $color-13;
  margin: 1.5em 0 1em 0;
  clear: none;
}

h2.Case-Study
 {
  color: $color-1;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid $color-1;
}