// co

/* --- co --- */

div.co {
  background-color: transparent;
  page-break-inside: avoid;
  margin-bottom: 2em;
  overflow: hidden;
}

div.co-box {
  position: relative;
  padding: 2em 0;
  color: $color-7;
  background-color: $color-1;
}

div.co-intro {
  padding: 2em;
  background-color: #f7f5eb;
}
div.co-intro h2 {
  padding-bottom: 0.5em;
  margin-top: 0;
}
div.co-intro li {
  margin-bottom: 0.75em;
  font-size: 10pt;
}
div.co-intro p.answer {
  color: $color-10;
  font-style: italic;
}

div.co-cn {
  float: left;
  padding: 0 3em 1em 0;
  margin-left:10%; /*Newly Added*/
}

div.co-ct {
  margin-bottom: 1.5em;
}

div.co-photo {
  clear: both;
}
div.co-photo img {
  display: block;
}

div.co-cr {
  padding: 0.5em 0 1em 0;
  clear: both;
  width: 90%; /*Newly added*/
}
div.co-cr p.credit {
  color: $color-7;
  margin: 0;
}

.co-quote {
  margin: 3em 0 2em 0;
}
.co-quote p.quote {
  font-size: 26px;
  font-style: italic;
  text-align: right;
}

h1.ct {
  /* Chapter Title */
  color: $color-7;
  font-size: 30pt;
  /*font-weight: bold;*/
  width:80%;       /*Newly added*/
  margin-top:20px; /*Newly added*/
  margin-left:10%; /*Newly added*/
  text-align:left; /*Newly added*/
  margin-bottom: 25px; /*Newly added*/
  
}

span.cn {
  /* Chapter Number */
  color: $color-7;
  font-size: 72pt;
  line-height: 0.85;
  vertical-align: top;

}

/* New class created */
div .co-photo{
 width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.letter_space
{
 letter-spacing: 05px;
 }