// key terms

/* --- key terms --- */

dl.key-terms {
  margin: 1em 0;
}

dt.term {
  color: $color-9;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

dd.definition {
  margin: 0 0 1em 1em;
}

a.answerToggle {
  text-decoration: none;
}
