// widgets

/* ----- tip box ----- */

.box-6 {
    position: relative;
    background-color: $color-white;
    float: none;
    clear: both;
  }
  
  [class^="tipBox"][aria-hidden="true"] {
    display: none;
  }
  
  [class^="tipBox"][aria-hidden="false"] {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;
    overflow-y: scroll;
    z-index: 4600;
    .box-6 {
        padding: .5em 1.5em 3.5em 1.5em;
        border-radius: $radius;
        width: 95%; 
        margin: 60px auto 0 auto;
          max-width: 800px;
          p.tx {
            @include clearMainCol(100%, none,0, 0);

          }
        h3.h3 {
            color: $color-1;
            font-weight: normal;
            @include clearMainCol(100%, none,0, 0);
            clear: none;
            text-align: left;
            border-bottom: 2px solid $color-1;		  
        }
        h4.h4 {
            color: $color-black;
            margin: 1.5em 0 1em 0;
            clear: none;		  
        }
        table.tbl-xl, table.tbl-sm {
            position: relative;
            border: none;
            width: 100%;
            max-width: 100%;
            margin-right: auto;
            margin-left: auto;
            .tbl_name {
              position: relative;
              max-width: 100%;;
              top: auto;
              left: auto;
              text-align: left;
            }
          } 
          ol, ul {
            @include clearMainCol(100%, none,0, 0);
          }       
    }   
    
  }
  
  .tipBox_lg[aria-hidden="false"] .box-6 {
    max-width: 1170px;
  }
  
  .tipBox_sm[aria-hidden="false"] .box-6 {
    max-width: 500px;
  }
  
  [data-type="tipTrigger"] {
      position: relative;
  }
  
  .btn-close-top {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
  }
  
  .btn-close-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    border: none;
    font-size: 24px;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";	
  }
  
  .btn-close-top:hover,
  .btn-close-bottom:hover {
    cursor: pointer;
    color:$color-4;
  }
  
  img.flag_1_ap,
  img.flag_2_ap,
  img.flag_3_ap,
  img.flag_4_ap,
  img.flag_5_ap,
  img.flag_6_ap {
      position: absolute;
      display: inline-block;
      height: 12px;
      width: 12px;
      max-width: none;
      border: none;
      top: -6px;
      
  }
  
  img.flag_1,
  img.flag_2,
  img.flag_3,
  img.flag_4,
  img.flag_5,
  img.flag_6 {
      position: relative;
      display: inline-block;
      height: 12px;
      width: 12px;
      max-width: none;
      border: none;	
  }
