/////////////////////////////////////
///// COLORS Pallet 5 | 2.1 um
/////////////////////////////////////

// hex values

$link-hex: #1f3870;
$black-hex: #000000;
$gray-hex: #999999;
$darkGray-hex: #404040;
$lightGray-hex: #cfcfcf;
$white-hex: #ffffff;
$offWhite-hex: #f0f3f7;
$red-hex: #ff0000;

$p5-hex-blue: #243065;
$p5-hex-lightBlue: #6888AF;
$p5-hex-lightestBlue: #d3d733;
$p5-hex-blueGray: #9298b2;
$p5-hex-green: #18512E;
$p5-hex-lightGreen: #f0ecd7;
$p5-hex-lighterGreen: #f8f6eb;
$p5-hex-lightestGreen: #f1f5ea;

// rgb values

$link-rgb: rgb(31, 56, 112);
$black-rgb: rgb(0, 0, 0);
$gray-rgb: rgb(153, 153, 153);
$darkGray-rgb: rgb(64, 64, 64);
$lightGray-rgb: rgb(207, 207, 207);
$white-rgb: rgb(255, 255, 255);
$offWhite-rgb: rgb(240, 243, 247);
$red-rgb: rgb(255, 0, 0);

$p5-rgb-blue: rgb(36,48,101);
$p5-rgb-lightBlue: rgb(104,136,175);
$p5-rgb-lightestBlue: rgb(211,215,51);
$p5-rgb-blueGray: rgb(146,152,178);
$p5-rgb-green: rgb(24,81,46);
$p5-rgb-lightGreen: rgb(240,236,215);
$p5-rgb-lighterGreen: rgb(248,246,235);
$p5-rgb-lightestGreen: rgb(241,245,234);

// cmyk values

$link-cmyk: device-cmyk(72%, 50%, 0%, 56%);
$black-cmyk: device-cmyk(0%, 0%, 0%, 100%);
$gray-cmyk: device-cmyk(0%, 0%, 0%, 40%);
$darkGray-cmyk: device-cmyk(0%, 0%, 0%, 75%);
$lightGray-cmyk: device-cmyk(0%, 0%, 0%, 19%);
$white-cmyk: device-cmyk(0%, 0%, 0%, 0%);
$offWhite-cmyk: device-cmyk(3%, 2%, 0%, 3%);
$red-cmyk: device-cmyk(0%, 100%, 100%, 0%);

$p5-cmyk-blue: device-cmyk(64%, 52%, 0%, 60%);
$p5-cmyk-lightBlue: device-cmyk(41%, 22%, 0%, 31%);
$p5-cmyk-lightestBlue: device-cmyk(2%, 0%, 76%, 16%);
$p5-cmyk-blueGray: device-cmyk(18%, 15%, 0%, 30%);
$p5-cmyk-green: device-cmyk(70%, 0%, 43%, 68%);
$p5-cmyk-lightGreen: device-cmyk(0%, 2%, 10%, 6%);
$p5-cmyk-lighterGreen: device-cmyk(0%, 1%, 5%, 3%);
$p5-cmyk-lightestGreen: device-cmyk(2%, 0%, 4%, 4%);

// Sync colors with generic variables

$color-1-hex: $p5-hex-blue;
$color-1-rgb: $p5-rgb-blue;
$color-1-cmyk: $p5-cmyk-blue;

$color-2-hex: $p5-hex-lightBlue;
$color-2-rgb: $p5-rgb-lightBlue;
$color-2-cmyk: $p5-cmyk-lightBlue;

$color-3-hex: $p5-hex-green;
$color-3-rgb: $p5-rgb-green;
$color-3-cmyk: $p5-cmyk-green;

$color-4-hex: $p5-hex-lightGreen;
$color-4-rgb: $p5-rgb-lightGreen;
$color-4-cmyk: $p5-cmyk-lightGreen;

$color-5-hex: $p5-hex-lighterGreen;
$color-5-rgb: $p5-rgb-lighterGreen;
$color-5-cmyk: $p5-cmyk-lighterGreen;

$color-6-hex: $p5-hex-blueGray;
$color-6-rgb: $p5-rgb-blueGray;
$color-6-cmyk: $p5-cmyk-blueGray;

$color-7-hex: $p5-hex-lightestGreen;
$color-7-rgb: $p5-rgb-lightestGreen;
$color-7-cmyk: $p5-cmyk-lightestGreen;

$color-8-hex: $p5-hex-lightestBlue;
$color-8-rgb: $p5-rgb-lightestBlue;
$color-8-cmyk: $p5-cmyk-lightestBlue;






