/////////////////////////////////////
///// General
/////////////////////////////////////

@mixin color($rgb, $cmyk) {
	color: $rgb;
	color: $cmyk;
}

@mixin background($rgb, $cmyk) {
	background-color: $rgb;
	background-color: $cmyk;
}

@mixin border($rgb, $cmyk) {
	border-color: $rgb;
	border-color: $cmyk;
}



// generic colors

@mixin black($type) {
	@if $type == color {
		@include color($black-rgb, $black-cmyk);
	} @else if $type == background {
		@include background($black-rgb, $black-cmyk);
	} @else if $type == border {
		@include border($black-rgb, $black-cmyk);
	}	
}

@mixin white($type) {
	@if $type == color {
		@include color($white-rgb, $white-cmyk);
	} @else if $type == background {
		@include background($white-rgb, $white-cmyk);
	} @else if $type == border {
		@include border($white-rgb, $white-cmyk);
	}	
}

@mixin red($type) {
	@if $type == color {
		@include color($red-rgb, $red-cmyk);
	} @else if $type == background {
		@include background($red-rgb, $red-cmyk);
	} @else if $type == border {
		@include border($red-rgb, $red-cmyk);
	}	
}

@mixin gray($type) {
	@if $type == color {
		@include color($gray-rgb, $gray-cmyk);
	} @else if $type == background {
		@include background($gray-rgb, $gray-cmyk);
	} @else if $type == border {
		@include border($gray-rgb, $gray-cmyk);
	}	
}

@mixin lightGray($type) {
	@if $type == color {
		@include color($lightGray-rgb, $lightGray-cmyk);
	} @else if $type == background {
		@include background($lightGray-rgb, $lightGray-cmyk);
	} @else if $type == border {
		@include border($lightGray-rgb, $lightGray-cmyk);
	}	
}

@mixin darkGray($type) {
	@if $type == color {
		@include color($darkGray-rgb, $darkGray-cmyk);
	} @else if $type == background {
		@include background($darkGray-rgb, $darkGray-cmyk);
	} @else if $type == border {
		@include border($darkGray-rgb, $darkGray-cmyk);
	}	
}

@mixin offWhite($type) {
	@if $type == color {
		@include color($offWhite-rgb, $offWhite-cmyk);
	} @else if $type == background {
		@include background($offWhite-rgb, $offWhite-cmyk);
	} @else if $type == border {
		@include border($offWhite-rgb, $offWhite-cmyk);
	}	
}

@mixin link($type) {
	@if $type == color {
		@include color($link-rgb, $link-cmyk);
	} @else if $type == background {
		@include background($link-rgb, $link-cmyk);
	} @else if $type == border {
		@include border($link-rgb, $link-cmyk);
	}	
}

// pallet colors

@mixin color-1($type) {
	@if $type == color {
		@include color($color-1-rgb, $color-1-cmyk);
	} @else if $type == background {
		@include background($color-1-rgb, $color-1-cmyk);
	} @else if $type == border {
		@include border($color-1-rgb, $color-1-cmyk);
	}	
}

@mixin color-2($type) {
	@if $type == color {
		@include color($color-2-rgb, $color-2-cmyk);
	} @else if $type == background {
		@include background($color-2-rgb, $color-2-cmyk);
	} @else if $type == border {
		@include border($color-2-rgb, $color-2-cmyk);
	}	
}

@mixin color-3($type) {
	@if $type == color {
		@include color($color-3-rgb, $color-3-cmyk);
	} @else if $type == background {
		@include background($color-3-rgb, $color-3-cmyk);
	} @else if $type == border {
		@include border($color-3-rgb, $color-3-cmyk);
	}	
}

@mixin color-4($type) {
	@if $type == color {
		@include color($color-4-rgb, $color-4-cmyk);
	} @else if $type == background {
		@include background($color-4-rgb, $color-4-cmyk);
	} @else if $type == border {
		@include border($color-4-rgb, $color-4-cmyk);
	}	
}

@mixin color-5($type) {
	@if $type == color {
		@include color($color-5-rgb, $color-5-cmyk);
	} @else if $type == background {
		@include background($color-5-rgb, $color-5-cmyk);
	} @else if $type == border {
		@include border($color-5-rgb, $color-5-cmyk);
	}	
}

@mixin color-6($type) {
	@if $type == color {
		@include color($color-6-rgb, $color-6-cmyk);
	} @else if $type == background {
		@include background($color-6-rgb, $color-6-cmyk);
	} @else if $type == border {
		@include border($color-6-rgb, $color-6-cmyk);
	}	
}

@mixin color-7($type) {
	@if $type == color {
		@include color($color-7-rgb, $color-7-cmyk);
	} @else if $type == background {
		@include background($color-7-rgb, $color-7-cmyk);
	} @else if $type == border {
		@include border($color-7-rgb, $color-7-cmyk);
	}	
}

@mixin color-8($type) {
	@if $type == color {
		@include color($color-8-rgb, $color-8-cmyk);
	} @else if $type == background {
		@include background($color-8-rgb, $color-8-cmyk);
	} @else if $type == border {
		@include border($color-8-rgb, $color-8-cmyk);
	}	
}

// fonts

// font options
$cambria: Cambria, Times, "Times New Roman", serif;
$times: Times, "Times New Roman", serif;
$helvetica: Helvetica, Arial, sans-serif;

// fonts
$body-text: $cambria;
$heading-text: $cambria;
$accent-text: $cambria;

