/*
//////////////////////////////////////////////////////////
///// Base
//////////////////////////////////////////////////////////
*/

* {
  box-sizing: border-box;
}

body {
	max-width: 960px;
	margin-right: auto;
	margin-left: auto;
}

h1, h2, h3, h4, h5, h6, div, p, ol, ul, li, table, tr, th, td, blockquote, dl, dt, dd {
  @include black(color);
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  text-align: left;
  line-height: 1.25;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, th {
	font-family: $heading-text;
}

div, p, ol, ul, li, table, tr, td, blockquote, dl, dt, dd {
	font-family: $body-text;
}

/* Base Styles */
h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: none !important;
  -epub-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  adobe-hyphenate: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: underline;
  @include link(color);
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
      hyphens: auto;
}

p {
  margin-bottom: 1em;
}



