/*
//////////////////////////////////////////////////////////
///// Photos
//////////////////////////////////////////////////////////
*/

@mixin photo($width, $max, $placement) {
  width: $width;
  max-width: $max;
  clear: both;
  margin-top: 0;
  margin-bottom: .5em;
  padding: 0;
  @if $placement == right {
    margin-left: 0;
    margin-right: 0.5em;
    float: right;
  } @else if $placement == left {
    margin-left: 0.5em;
    margin-right: 0;
    float: left;
  }
}

/* Photo Box Styles */
div.photo-box {
  margin: 1em auto;
}

div.photo img {
  display: block;
  width: 100%;
}

div.photo-left,
div.photo-box-left {
  @include photo(45%, 600px, left);
}

div.photo-box-left-thin {
  @include photo(35%, 500px, left);
}

div.photo-right,
div.photo-box-right {
  @include photo(45%, 600px, right);
}

div.photo-box-right-thin {
  @include photo(35%, 500px, right);
}

div.photo-caption p.credit {
  text-align: right;
}

/* Photo Box Text Styles */
div.photo-box p.caption,
div.photo-box-left p.caption,
div.photo-box-left-thin p.caption,
div.photo-box-right p.caption,
div.photo-box-right-thin p.caption {
  font-weight: bold;
  margin-bottom: 0;
}


