/*
//////////////////////////////////////////////////////////
///// Page Break Rules
//////////////////////////////////////////////////////////
*/

.breakBefore {
	page-break-before: always;
}

.breakAfter {
	page-break-after: always;
}

div.co-box {
	page-break-before: always;
}
/*	
	#pdfFM .h1 {
		page-break-before: always;
	}
*/	
	#pdfMain .new {
		page-break-after: always;
	}

div.photo-left,
div.photo-box-left,
div.photo-box-left-thin,
div.photo-right,
div.photo-box-right,
div.photo-box-right-thin,
div.figure-box-left,
div.figure-box-left-thin,
div.figure-box-right,
div.figure-box-right-thin,
div.p-ct {
	page-break-inside: avoid;
}

div.photo-left img,
div.photo-box-left img,
div.photo-box-left-thin img,
div.photo-right img,
div.photo-box-right img,
div.photo-box-right-thin img,
div.figure-box-left img,
div.figure-box-left-thin img,
div.figure-box-right img,
div.figure-box-right-thin img {
	page-break-after: avoid;
}

div.photo-left p,
div.photo-box-left p,
div.photo-box-left-thin p,
div.photo-right p,
div.photo-box-right p,
div.photo-box-right-thin p,
div.figure-box-left p,
div.figure-box-left-thin p,
div.figure-box-right p,
div.figure-box-right-thin p {
	page-break-before: avoid;
}

h4.figure-name,
div.figure-box p.tx,
div.figure-thin p.tx {	
	page-break-after: avoid;
}


