/* Heading Styles */







/* List Styles */




/* Photo Box Styles */
div.photo-box {
  margin: 1em auto;
}

div.photo-left {
  width: 45%;
  max-width: 600px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: both;
}

div.photo-box-left {
  width: 45%;
  max-width: 600px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: both;
}

div.photo-box-left-thin {
  width: 35%;
  max-width: 500px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: both;
}

div.photo-right {
  width: 45%;
  max-width: 600px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: both;
}

div.photo-box-right {
  width: 45%;
  max-width: 600px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: both;
}

div.photo-box-right-thin {
  width: 35%;
  max-width: 500px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: both;
}

div.photo img {
  display: block;
  width: 100%;
}

div.photo-caption p.credit {
  text-align: right;
}

/* Photo Box Text Styles */
div.photo-box p.caption,
div.photo-box-left p.caption,
div.photo-box-left-thin p.caption,
div.photo-box-right p.caption,
div.photo-box-right-thin p.caption {
  font-weight: bold;
  margin-bottom: 0;
}

/* Figure Box Styles */
div.figure-box {
  margin: 2em auto;
  clear: both;
  width: 75%;
}

div.figure-box-left {
  width: 40%;
  max-width: 500px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: right;
}

div.figure-box-left-thin {
  position: relative;
  width: 30%;
  max-width: 400px;
  margin: 0 1em 0.5em 0;
  padding: 0;
  float: left;
  clear: left;
}

div.figure-box-right {
  width: 40%;
  max-width: 500px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: left;
}

div.figure-box-right-thin {
  position: relative;
  width: 30%;
  max-width: 400px;
  margin: 0 0 0.5em 1em;
  padding: 0;
  float: right;
  clear: right;
}

div.figure {
  margin: 1em auto;
}

div.figure-thin {
  margin: 1em auto;
  width: 50%;
}

div.figure img, div.figure-thin img {
  display: block;
  width: 100%;
}

/* Figure Box Text Styles */
h4.figure-name {
  color: #18512E;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.75em;
  padding-bottom: 0.125em;
  border-bottom: 2px solid #18512E;
}

h5.figure-title {
  color: black;
  font-weight: bold;
  margin-bottom: 0.5em;
}

div.figure-box p.caption,
div.figure-box-left p.caption,
div.figure-box-left-thin p.caption,
div.figure-box-right p.caption,
div.figure-box-right-thin p.caption {
  color: black;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.2em;
}

/* Extract Box */
div.ext {
  margin: 1em 2em;
}

div.ext h1.h1, div.ext h2.h2, div.ext h3.h3, div.ext h4.h4 {
  margin: 1em 0;
  border: none;
}

/* Pull Quotes */
div.pull-quote,
blockquote.pull-quote {
  float: right;
  width: 35%;
  padding: 1em 0;
  margin: 0 -1em 0.5em 1em;
  border-top: 3px solid #9298b2;
  border-bottom: 3px solid #9298b2;
}

div.pull-quote p.tx,
blockquote.pull-quote p.tx {
  color: black;
  margin: 0;
  text-align: left;
  font-style: italic;
}

div.pull-quote img,
blockquote.pull-quote img {
  float: left;
  width: 50px;
  margin: 0 1em 1em 0;
}

/* Vignettes */
.vignette {
  font-style: italic;
}

.vignette p, .vignette li, .vignette h1, .vignette h2, .vignette h3, .vignette h4, .vignette h5, .vignette h6 {
  font-style: italic;
}

.vignette i, .vignette .bi, .vignette .ui, .vignette a {
  /* Reverse italics */
  font-style: normal;
}

/* Box Text Styles */
div.box-1 p.src, div.box-2 p.src, div.box-3 p.src, div.box-4 p.src, div.box-5 p.src {
  font-style: normal;
}

div.box-1 p.src i, div.box-2 p.src i, div.box-3 p.src i, div.box-4 p.src i, div.box-5 p.src i {
  font-weight: normal;
  font-style: italic;
}

div.box-1 p.src b, div.box-2 p.src b, div.box-3 p.src b, div.box-4 p.src b, div.box-5 p.src b {
  font-style: normal;
  font-weight: bold;
}

li div.box-1, li div.box-2, li div.box-3, li div.box-4, li div.box-5 {
  margin-left: -2.5em;
}

li li div.box-1, li li div.box-2, li li div.box-3, li li div.box-4, li li div.box-5 {
  margin-left: -4em;
}

div.box-1 p.tx, div.box-2 p.tx, div.box-3 p.tx, div.box-4 p.tx, div.box-5 p.tx, div.box-1 p.tx-i, div.box-2 p.tx-i, div.box-3 p.tx-i, div.box-4 p.tx-i, div.box-5 p.tx-i, div.box-1 p.tx-b, div.box-2 p.tx-b, div.box-3 p.tx-b, div.box-4 p.tx-b, div.box-5 p.tx-b, div.box-1 p.ext, div.box-2 p.ext, div.box-3 p.ext, div.box-4 p.ext, div.box-5 p.ext {
  text-align: left;
}

div.box-1 p:last-child, div.box-2 p:last-child, div.box-3 p:last-child, div.box-4 p:last-child, div.box-5 p:last-child {
  margin-bottom: 0;
}

div.box-1:last-child, div.box-2:last-child, div.box-3:last-child, div.box-4:last-child, div.box-5:last-child {
  margin-bottom: 0;
}

/* Box Styles */
div.box-1 {
  background-color: #F0ECD7;
  padding: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}

div.box-1 h1.h1 {
  color: #18512E;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.125em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid #18512E;
}

div.box-1 h2.h2 {
  color: black;
  margin: 1.5em 0 1em 0;
  clear: none;
}

div.box-2 {
  background-color: #f1f5ea;
  padding: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}

div.box-2 h1.h1 {
  color: #243065;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.125em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid #243065;
}

div.box-2 h2.h2 {
  color: black;
  margin: 1.5em 0 1em 0;
  clear: none;
}

div.box-3 {
  background-color: #d3d7e3;
  padding: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}

div.box-3 h1.h1 {
  color: #243065;
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 1em 0;
  padding: 0 0 0.125em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid #243065;
}

div.box-3 h2.h2 {
  color: black;
  margin: 1.5em 0 1em 0;
  clear: none;
}

div.box-4 {
  background-color: red;
  padding: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}

div.box-4 h1.h1 {
  color: white;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
  border-bottom: 2px solid white;
}

div.box-4 h2.h2 {
  color: white;
  margin: 1.5em 0 1em 0;
  clear: none;
}

div.box-5 {
  background-color: red;
  padding: 1.5em;
  border-radius: 1.5em;
  margin: 2em auto;
  float: none;
  clear: both;
}

div.box-5 h1.h1 {
  color: white;
  font-weight: normal;
  margin: 0 0 1em 0;
  border: none;
  clear: none;
  text-align: left;
}

div.box-5 h2.h2 {
  color: white;
  margin: 1.5em 0 1em 0;
  clear: none;
}

/* Chapter Opener */
div.co {
  background-color: transparent;
  page-break-inside: avoid;
  margin-top: 3em;
  margin-bottom: 2em;
  overflow: hidden;
}

div.co-box {
  position: relative;
  padding: 2em;
  color: #F0ECD7;
  background-color: #243065;
}

div.co-intro {
  padding: 2em;
  background-color: #f8f6eb;
}

div.co-intro h2 {
  padding-bottom: 0.5em;
  margin-top: 0;
}

div.co-intro li {
  margin-bottom: 0.75em;
}

div.co-intro p.answer {
  color: #404040;
  font-style: italic;
}

div.co-cn {
  float: left;
  padding: 0 2em 1em 0;
}

div.co-ct {
  margin-bottom: 1.5em;
}

div.co-photo {
  clear: both;
}

div.co-photo img {
  display: block;
  width: 100%;
}

div.co-cr {
  padding: 0.5em 0 1em 0;
  clear: both;
}

div.co-cr p.credit {
  color: #F0ECD7;
  margin: 0;
}

.co-quote {
  margin: 3em 0 2em 0;
}

.co-quote p.quote {
  font-size: 26px;
  font-style: italic;
  text-align: right;
}

h1.ct {
  /* Chapter Title */
  color: #F0ECD7;
  font-size: 40px;
}

h2.ct-st {
  /* Chapter Subtitle */
  color: #F0ECD7;
  font-size: 16px;
  font-weight: bold;
}

span.cn {
  /* Chapter Number */
  color: #F0ECD7;
  font-size: 100px;
  line-height: 0.85;
  vertical-align: top;
}

/* Part Opener */
div.po {

}

div.po-box {
  display: table;
  width: 100%;
  padding: 2em;
  margin-bottom: 4em;
  border: 3px solid #243065;
}

div.po-pn {
  display: table-cell;
  white-space: nowrap;
  padding-right: 2em;
  vertical-align: top;
}

div.po-pt {
  display: table-cell;
  vertical-align: top;
}

div.po-outline {
  padding-left: 2em;
}

p.po-ct {
  color: #243065;
  font-size: 24px;
  font-weight: bold;
  margin: 1em 0 0.5em;
}

p.po-st {
  padding-left: 2em;
  color: #243065;
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 0.5em;
}

h1.pt {
  /* Part Title */
  color: #243065;
  font-size: 60px;
  font-weight: normal;
  margin: 0;
}

span.pn {
  /* Part Number */
  color: #243065;
  font-size: 60px;
  font-weight: normal;
  font-style: italic;
  line-height: 1.25;
  vertical-align: top;
}

/* Key Terms */
dl.key-terms {
  margin: 1em 0;
}

dt.term {
  color: #1f3870;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}

dd.definition {
  margin: 0 0 1em 1em;
}

/* Equation Styles */
.eq {
  text-align: center;
  margin: 1em auto;
}

/* Special Objects */
.photo-cover {
  width: 100%;
  max-width: 600px;
  float: none;
  clear: both;
  margin: 0 auto;
  padding: 2em;
}

.scroll-wrapper {
  /* Allows wide, non-shrinkable objects to scroll horizontally on small screens */
  position: relative;
  width: 100%;
  overflow-x: auto;
  margin: 1em 0;
}

.two-column {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
}

.icon {
  float: left;
  width: 50px;
  margin: 0 1em 1em 0;
}

div.fig-centerSL {
	width: 100%;
	clear: both;
	margin: auto;
	max-width: 760px;
	float: none;
	padding: 0em;
	min-width: 250px;
	color: #999999;
}

div.fig-centerSL p.tx
 {
	margin-top: 1em;
	font-size: 14px;
	font-weight: bold;
    line-height: 1.2em;
}


.video-head {
  color: #243065;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  margin: 0.25em 0 0.5em 0;
  padding: 5px;
  clear: none;
}

.video-caption {
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin: 0.5em 0em;
	padding: 5px;
}

div.video-right-FOD {
	font-size: 12px;
	border: thin solid #243065;
	width: 440px;
	float: right;
	-moz-border-radius: 10px;
	margin-top: 0.875em;
	margin-right: 1em;
	margin-bottom: 0.875em;
	margin-left: 1em;
	/* [disabled]border-radius: 25px; */
	padding: 0.5em;
	clear: left;
}

div.video-right-FOD-sm {
	font-size: 12px;
	border: thin solid #243065;
	width: 390px;
	float: right;
	-moz-border-radius: 10px;
	margin-top: 0.875em;
	margin-right: 1em;
	margin-bottom: 0.875em;
	margin-left: 1em;
	/* [disabled]border-radius: 25px; */
	padding: 0.5em;
	clear: left;
}

div.video-left {
	font-size: 12px;
	border: thin solid #243065;
	width: 575px;
	float: left;
	-moz-border-radius: 10px;
	margin-top: 0.875em;
	margin-right: 1em;
	margin-bottom: 0.875em;
	margin-left: 1em;
	/* [disabled]border-radius: 25px; */
	padding: 0.5em;
	clear: right;
}

div.video-center {
	font-size: 12px;
	border: thin solid #243065;
	width: 440px;
	float: none;
	-moz-border-radius: 10px;
	margin-top: 0.875em;
	margin-right: auto;
	margin-bottom: 0.875em;
	margin-left: auto;
	/* [disabled]border-radius: 25px; */
	padding: 0.5em;
	clear: both;
}
p.media{

	line-height: 1.2em;
	font-size: 16px;
	font-weight: normal;
	font-style: italic;
	margin-bottom: 0.6em;
	text-align: left;
	color: #000;
	display: none;
}
/*----------------------------------------------

  			BASIC PAGE SETUP

------------------------------------------------*/

[data-output=print] {
	display: none;
}

[data-output=epub] {
	display: block;
}

#printTOC a {
	text-decoration: none;
}

#printTOC li {
  margin-bottom: 8px;
}


a.fm-h1,
a.ch-h1,
a.ch-h1-un,
a.ch-h1-eoc,
a.bm-h1 {
  text-transform: uppercase;
}

a.ch-h2,
a.ch-h2-eoc,
a.ch-h1-box,
a.bm-h2 {
  margin-left: 10px;
}

a.ch-h1-box {
  font-style: italic;
}

span.hidden {
	display: none;
}
