/* CUSTOM STYLES FOR EPUB TO PDF  */

/*----------------------------------------------

  			BASIC PAGE SETUP

------------------------------------------------*/

body {
	max-width: 964px;
	margin-right: auto;
	margin-left: auto;
}

@page {
  size: US-Letter;
  margin: 1in;
  background: #ffffff;
  font-weight: normal;
  @top-right {
	  content: string(heading-top-right);
	  font-size: 12px;
  }
  @top-left {
	  content: string(heading-top-left);	
	  font-size: 12px  
  }
  @bottom {
	  content: counter(page);
	  font-size: 12px;
  }
}

[data-heading='top-left'] {
	string-set: heading-top-left content();
}

[data-heading='top-right'] { 
  string-set: heading-top-right content(); 
}

/*----------------------------------------------

  			PAGE NUMBERING

------------------------------------------------*/

/* 

Frontmatter page numbering

*/

@page pdfFM {
    @bottom {
        content: counter(page, lower-roman);
    }
}

#pdfFM {
    display: block;
    page: pdfFM;
}

/* 

Main content page numbering

*/

@page pdfMain {
    @bottom {
        content: counter(page, decimal);
    }
}

#pdfMain {
    display: block;
    page: pdfMain;
    counter-reset: page 1;
}

/*----------------------------------------------

  			DYNAMIC TABLE OF CONTENTS

------------------------------------------------*/
#tocBrief a,
#tocDetail a {
	text-decoration: none;
	color: inherit;
}

.toc-level1a a:after {
	content: leader('.') target-counter(attr(href), page, lower-roman);
}

.toc-level1 a:after,
.toc-level1b a:after {
	content: leader('.') target-counter(attr(href), page, decimal);
}

.toc-level2 a:after,
.toc-level3 a:after {
	content: target-counter(attr(href), page, decimal);
	margin-left: 8px;
}

/* Brief */

#tocBrief .toc-chnumber,
#tocBrief .toc-chtext {
	display: inline-block;
	vertical-align: top;
	font-size: 16px;
	font-weight: bold;
}

#tocBrief .toc-chnumber {
	width: 100px;
	color: navy;
}

#tocBrief .toc-level1b .toc-chtext {
	margin-left: 105px;
}

#tocBrief .toc-level1,
#tocBrief .toc-level1b {
	margin-top: 16px;
}

/* Detail */

#tocDetail .toc-level1,
#tocDetail .toc-level1a,
#tocDetail .toc-level1b {
	margin-top: 12px;
	font-size: 16px;
	font-weight: bold;
}

#tocDetail .toc-level2 {
	font-size: 16px;
	font-weight: bold;
	margin-top: 9px;
	margin-bottom: 3px;
}

.toc-chnumber {
	color: navy;
}

.toc-secnumber, 
.toc-sectext {
	display: inline-block;
	vertical-align: top;
}

.toc-secnumber {
	width: 40px;
	color: navy;
}

.toc-level3 {
	margin-left: 45px;
	font-size: 12px;
	font-weight: bold;
}

/*----------------------------------------------

  			PAGE BREAK RULES

------------------------------------------------*/

.breakBefore {
	page-break-before: always;
}

.breakAfter {
	page-break-after: always;
}

div.co-box {
	page-break-before: always;
}
/*	
	#pdfFM .h1 {
		page-break-before: always;
	}
*/	
	#pdfMain .new {
		page-break-after: always;
	}

div.photo-left,
div.photo-box-left,
div.photo-box-left-thin,
div.photo-right,
div.photo-box-right,
div.photo-box-right-thin,
div.figure-box-left,
div.figure-box-left-thin,
div.figure-box-right,
div.figure-box-right-thin,
div.p-ct {
	page-break-inside: avoid;
}

div.photo-left img,
div.photo-box-left img,
div.photo-box-left-thin img,
div.photo-right img,
div.photo-box-right img,
div.photo-box-right-thin img,
div.figure-box-left img,
div.figure-box-left-thin img,
div.figure-box-right img,
div.figure-box-right-thin img {
	page-break-after: avoid;
}

div.photo-left p,
div.photo-box-left p,
div.photo-box-left-thin p,
div.photo-right p,
div.photo-box-right p,
div.photo-box-right-thin p,
div.figure-box-left p,
div.figure-box-left-thin p,
div.figure-box-right p,
div.figure-box-right-thin p {
	page-break-before: avoid;
}

h4.figure-name,
div.figure-box p.tx,
div.figure-thin p.tx {	
	page-break-after: avoid;
}

/*----------------------------------------------

  			ALT TEXT RENDERING

------------------------------------------------*/

*[title] { 
	prince-tooltip: attr(title); 
}

/*----------------------------------------------

 			PDF BOOK MARKS

------------------------------------------------*/

div.co-ct {prince-bookmark-level: 1}
h1.h1 {prince-bookmark-level:2}
h2.h2 {prince-bookmark-level:3}
	
/*----------------------------------------------

  			MISCELLANEOUS ADJUSTMENTS

------------------------------------------------*/
	
	#fm {
		margin-top: 200px;
	}	

	div.co-box,
	div.co-cn {
		width: 100%;
		max-width: 100%;
	}	
	
div.co {
	font-size: 30pt;
	width: 5%;
}

div.co-ct {
	font-size: 22pt;
	width: 80%;
}

.answerToggle,
.answerToggle:hover {
	text-decoration: none;
	color: black;
	cursor: default;
}

table img.scaled,
table img {
	max-width: 200px;
}

h1, h2, h3, h4, h5, h6, div, p, ol, ul, li, table, tr, th, td, blockquote, dl, dt, dd {
  font-size: 14.66px;
  line-height: 1.18;
}

h1.h1 {
  font-size: 21.33px;
  line-height: 1.20;
  margin-bottom: 8.79px;

}

h2.h2 {
  font-size: 18.66px;
  line-height: 1.20;
  margin-bottom: 4.39px;

}

h3.h3 {
  font-size: 16px;
  line-height: 1.20;
  margin-bottom: 7.17px;

}

h4.h4 {
  font-size: 14.66px;
  line-height: 1.20;
}

p.tx {
	text-align: justify;
	font-size: 14.66px;
	line-height: 1.18;
	margin-bottom: 13.33px;
}

p.cr,
div.cr	{
	font-size: 10.66px;
	line-height: 1.34;
}

div.p-ct,
p.p-ct {
	font-size: 13.33px;
	line-height: 1.34;
}	

div.photo-left,
div.photo-left-h,
div.photo-box-left,
div.photo-right,
div.photo-right-h,
div.photo-box-right {
	width: 300px;		
}
	
div.photo-left-v,
div.photo-left-vert,
div.photo-box-left-thin,
div.photo-right-h,
div.photo-right-v,
div.photo-right-vert,
div.photo-box-right-thin {
	width: 250px;		
}	

div.figure-box {
  width: 100%;
  max-width: 100%;
}

div.figure-box img {
  display: block;
  margin: 2em auto;
  clear: both;
  width: 65%;
}
	
div.figure-box img.scaled {
  display: block;
  margin: 2em auto;
  clear: both;
  width: 65%;
}	

div.figure-box-left,
div.figure-box-right {
  width: 300px;
}

div.figure-box-left-thin,
div.figure-box-right-thin {
  width: 250px;
 
}

div.figure-thin {
  margin: 1em auto;
  width: 100%;
}
	
div.figure-thin img {
  margin: 0 auto;
  width: 400px;
}	

.hide {
	display: none;
}
	
	
/************************************************

  	MISCELLANEOUS STYLE ADJUSTMENTS FOR PDF

************************************************/